body {
  background-color: #151b29;
  color: #f1ff5c;
}

#main-container {
  border-radius: 30px;
  border: 2px solid #ffa260;
}

#info {
  border-radius: 30px;
  border: 2px solid #ffa260;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#all-container {
  justify-content: space-evenly;
}

#main-text-container h1 {
  padding-top: 15px;
  font-size: 1.9rem;
}

#main-text-container h2 {
  font-size: 1.5rem;
}

#main-text-container h3 {
  font-size: 1.4rem;
}

#main-text-container h4 {
  font-size: 1.3rem;
}

#info h2 {
  font-size: 1.6rem;
}

#previous {
  font-size: 1.9rem;
}

#number {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  font-size: 5rem;
  text-align: center;
  background: none;
  border: 2px solid #f1ff5c;
  color: #f1ff5c;
}

#number:hover {
  box-shadow: 0 4px 4px 4px #f1ff5c;
  transform: scale(1.1);
  background: none;
}

#number:focus {
  box-shadow: 0 5px 5px 4px #f1ff5c;
  transform: scale(1.1);
  border: none;
  outline: none;
  background: none;
}

button:hover {
  border-color: #f1ff5c;
  color: #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  background: none;
}

#number-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

#button-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

#button-helper {
  height: 3rem;
  width: 12rem;
  background: none;
  color: #f1ff5c;
  border: 2px solid #f1ff5c;
}

#past-guesses {
  border: 2px solid #f1ff5c;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#guesses {
  color: #f1ff5c;
}

@media (max-width: 400px) {
  #main-text-container h1 {
    font-size: 1.0rem;
  }
  
  #main-text-container h2 {
    font-size: 0.9rem;
  }
  
  #main-text-container h3 {
    font-size: 0.8rem;
  }
  
  #main-text-container h4 {
    font-size: 0.7rem;
  }
  
  #info h2 {
    font-size: 0.9rem;
  }

  #button-helper {
    height: 2.3rem;
    width: 9rem;
  }

  #previous {
    font-size: 1.0rem;
  }

  #number {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    font-size: 4rem;
    text-align: center;
    background: none;
    border: 2px solid #f1ff5c;
    color: #f1ff5c;
  }
  
  #number:hover {
    box-shadow: 0 4px 4px 4px #f1ff5c;
    transform: scale(1.1);
    background: none;
  }
  
  #number:focus {
    box-shadow: 0 5px 5px 4px #f1ff5c;
    transform: scale(1.1);
    border: none;
    outline: none;
    background: none;
  }
}

@media (max-width: 531px) {
  #button-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}