<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>
  <%- include('partials/navbar.ejs') %>

    <body>

      <div class="container">
        <h1>The Home Page <%= 'hello there!' + (4 + 5) %>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nisi commodi sint sequi assumenda neque porro
          nostrum
          eius excepturi at minima reprehenderit tempore, quibusdam eum. Tempora atque adipisci nobis minima?
          Voluptates molestias corporis itaque. Ipsa pariatur culpa delectus. Est mollitia fugiat quasi dignissimos
          omnis
          suscipit iusto dolores porro. Explicabo exercitationem provident a quaerat incidunt itaque natus soluta at
          veritatis
          ducimus.
          Accusantium cum dolore tempore doloribus, officia sequi facilis vitae veritatis dolorum inventore, sint, illo
          iure!
          Rerum tempora fugiat quidem minus nostrum veritatis libero excepturi delectus laboriosam, similique illum
          itaque
          deleniti.
          Nostrum necessitatibus autem suscipit qui iusto in enim odio, et excepturi, commodi sunt est illo saepe magni
          provident, quasi veritatis aspernatur voluptatum minima laborum id pariatur perspiciatis amet quidem. Magnam.
          Fugit totam impedit explicabo doloribus, consequatur fuga sequi numquam ratione possimus similique nulla eum.
          Deleniti, accusamus nemo! Veniam iste est iure nisi tempora debitis numquam eaque, fugit ad laudantium cum.
          Necessitatibus inventore, maiores nam iste mollitia quod expedita. Commodi est corporis voluptatem, dolor
          delectus
          velit, fugiat rem accusantinda vitae nesciunt, eaque dicta excepturi rerum?
          Natus, officiis suscipit, esse, facere expedita fugit quae non eveniet quod sapiente reiciendis soluta.</p>
      </div>
    </body>

</html>