<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <h1>To Do List</h1>

    <form action="/" method="POST">
      <div class="form-group">
        <label for="task">Task: </label>
        <input type="text" class="form-control" name="task" id="task" placeholder="Input task...">
      </div>

      <div class="form-group">
        <label for="assigned">Assign to:</label>
        <input type="text" class="form-control" name="assigned" id="assigned" placeholder="Assigned to...">
      </div>

      <button class="btn btn-success">Add Task</button>
    </form>
    <br>

    <div class="container">
      <div class="list-group-flush" id="list-tab" role="tablist">
        <% for(let task of tasks) { %>
          <button type="button" data-toggle="list" role="tab" class="list-group-item list-group-item-action"
            aria-controls="items">
            <%= task.task %> - <b>
                <%= task.assigned %>
              </b>
          </button>
          <% } %>
      </div>
    </div>


  </div>

</body>

</html>