<% layout('layouts/boilerplate') %>
  <h1>Welcome to Campgrounds!</h1>

  <h2>
    <a href="/campgrounds/new">Add a new campground</a>
  </h2>

  <h2>Here's a list of all the available campgrounds:</h2>

  <ul>
    <% for(let campground of campgrounds) { %>
      <li>
        <a href="/campgrounds/<%= campground._id %>">
          <%= campground.title %>
        </a> -
        <b>
          <%= campground.location %>
        </b>
      </li>
      <% } %>
  </ul>