<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to the Forums!</title>
</head>

<body>
  <h1>Welcome to the Forums!</h1>
  <h2>Posts:</h2>
  <p>
  <ul>
    <% for(let c of posts) { %>
      <a href="/comments/<%=c.id %>">
        <li>
          <%= c.comment %>
      </a> -
      <b>
        <%= c.author %>
      </b> <a href="/comments/<%= c.id %>/edit">Edit </a>
      </li>
      <% } %>
  </ul>
  </p>

  <section>
    <a href="/comments/new">New Comment</a>
  </section>
</body>

</html>